$small-font-size: 0.75em;
$badges: (
  "JavaScript": #C25975,
  "CSS": #3079AB,
  "React": #61DAFB,
  "Illustrator": #EAC734,
  "Sass": #CD679A,
  "HTML": #39ADD1,
  "Dev Tools": #637A91,
  "Knockout" : #C41301,
  "Node": #90C53F,
  "Photoshop": #2887CE,
) !default;

@each $badge-type, $color in $badges {
  .badge-#{$badge-type} {
    background-color: $color;
    border-radius: $small-font-size * 5;
    color: darken($color, 60%);
    display: inline-block;
    font-size: $small-font-size;
    line-height: 1;
    padding: 0.4em 1.2em;
    box-shadow: $base-shadow;
  }
}


@include media($phone) {

  @each $badge-type, $color in $badges {
    .badge-#{$badge-type} {
      background-color: $color;
      border-radius: $small-font-size * 5;
      color: darken($color, 60%);
      display: inline-block;
      font-size: $small-font-size / 1.20;
      line-height: 1;
      padding: 0.3em .9em;
      box-shadow: $base-shadow;
    }
  }
   
} 